# Engine: {{name}}

<sup>[Reference]{{#if (union nameSources (union referenceSources descriptionSources))}} \| {{/if~}}</sup>
{{> sources sources=(union nameSources (union referenceSources descriptionSources)) label='Improve this article' nocomment=true ~}}

{{~> sources sources=nameSources name='name' nolink=true ~}}
{{~> sources sources=referenceSources name='reference' nolink=true ~}}
{{~> sources sources=descriptionSources name='description' nolink=true ~}}

{{#if description~}}
{{{description}}}

{{/if}}
## Languages
{{> sources sources=languagesSources name='languages' ~}}

{{#each languages}}
- [{{name}}]
{{else}}
- *\<none\>*
{{/each}}

## Features

<a id="supported-features"></a>The following features are supported:

{{#each supported_features}}
- ✔ [{{name}}]
{{else}}
- *\<none\>*
{{/each}}

<a id="not-supported-features"></a>The following features are *not* supported:

{{#each unsupported_features}}
- ❌ [{{name}}]
{{else}}
- *\<none\>*
{{/each}}

{{#each features}}
{{{content}}}

{{/each}}

{{#each features}}
[{{name}}]: #feature-{{hlink name}}
{{#each aliases}}
[{{.}}]: #feature-{{hlink ../name}}
{{/each}}
{{#each links}}
[{{name}}]: {{href}}
{{/each}}

{{/each}}
{{#each features}}
[article:{{name}}]: ../features/{{feature.id}}.md
{{/each}}

{{#if reference}}
[Reference]: {{reference}}
{{else}}
[Reference]: #
{{/if}}
{{#each features}}
{{#if reference}}
[reference:{{name}}]: {{reference}}
{{else}}
[reference:{{name}}]: #not-supported-features
{{/if}}
{{/each}}

{{#each languages}}
[{{name}}]: ../languages/{{language}}.md
{{/each}}