# Engine: {{name}} <a id="top"></a>
{{> nav-link label='Home' href=(relative outFile 'index.md') }}
{{> nav-sep }}
{{> nav-link label='Engines' href='index.md' }}
{{> nav-sep }}
{{> nav-link label='Reference' }}
{{> edit-link names=(ar 'name' 'reference' 'description') prefix=true label='Improve this article' }}

{{> sources names=(ar 'name' 'reference' 'description') }}

{{> description }}

## Languages
{{> edit-link names='languages' }}

{{> sources names='languages' ~}}

{{#each languages}}
- [{{name}}]
{{else}}
- *\<none\>*
{{/each}}

## Features

<a id="supported-features"></a>The following features are supported:

{{#each supported_features}}
- ✔ [{{name}}]
{{else}}
- *\<none\>*
{{/each}}

<a id="not-supported-features"></a>The following features are *not* supported:

{{#each unsupported_features}}
- ❌ [{{name}}]
{{else}}
- *\<none\>*
{{/each}}

{{#each features}}
{{{content}}}

{{/each}}

{{> link-references }}