# Engine: {{name}}
<sup>[Home](../index.md)</sup>
<sup> \| [Engines](./index)</sup>
<sup> \| [Reference]</sup>
{{> edit-link sources=(union nameSources (union referenceSources descriptionSources)) prefix=' \| ' label='Improve this article' }}

{{> sources sources=nameSources name='name' }}
{{> sources sources=referenceSources name='reference' }}

{{> description }}
## Languages
{{> edit-link sources=languagesSources }}

{{> sources sources=languagesSources name='languages' ~}}

{{#each languages}}
- [{{name}}]
{{else}}
- *\<none\>*
{{/each}}

## Features

<a id="supported-features"></a>The following features are supported:

{{#each supported_features}}
- ✔ [{{name}}]
{{else}}
- *\<none\>*
{{/each}}

<a id="not-supported-features"></a>The following features are *not* supported:

{{#each unsupported_features}}
- ❌ [{{name}}]
{{else}}
- *\<none\>*
{{/each}}

{{#each features}}
{{{content}}}

{{/each}}

{{> link-references }}